# Ignore Xcode workspace files
*.xcworkspace/
*.xcuserdata/

# Ignore build products
build/
DerivedData/

# Other
.DS_Store
emulator_6502.xcodeproj/project.xcworkspace/xcuserdata/kylechiem.xcuserdatad/UserInterfaceState.xcuserstate
